*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container{
    min-width: 600px;
    margin: 0 auto;
}
.searcharea{
    width: 100%;
    border-radius: 8px;
    padding: .6rem 1rem;
    margin: 2rem 0;
}
.container-data{
    display: flex;
    justify-content: center;
    align-items:center;
}
.data{
    margin: 1rem 0;
}
.rate{
    color: red;
}
.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 2rem;
}
.no_more_records{
    text-align: center;
    margin: 4rem 0;
}
.box{
    width: 100px;
    height: 100px;
    background: #efefef; 
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    /* Styles for smaller screens */

    .container{
        padding: 0 6rem;
    }
}